# Deployment buildout
# ===================

[buildout]
parts =
    ${buildout:lxml-parts}
    ${buildout:haproxy-parts}
    ${buildout:varnish-parts}
    ${buildout:nginx-parts}
    ${buildout:runscript-parts}
    ${buildout:vhosts-parts}
    ${buildout:statusinfo-parts}
    supervisor

extends =
    packages.cfg
    buildout.d/lxml.cfg
    buildout.d/haproxy.cfg
    buildout.d/varnish.cfg
    buildout.d/nginx.cfg
    buildout.d/runscript.cfg
    buildout.d/vhosts.cfg
    buildout.d/statusinfo.cfg
    sources.cfg

auto-checkout =

# Make sure buildout never attempts to update packages automatically for
# production use.
always-checkout = false

# Create local caches so we get self contained buildouts
eggs-directory = /opt/buildout-cache/eggs
download-cache = /opt/buildout-cache/downloads
extends-cache = /opt/buildout-cache/extends

# Host names/IP addresses. See below for corresponding ports.
[hosts]
main            = 127.0.0.1
# The host that nginx proxies to
nginx-backend   = ${:varnish}
# The hostname/address that Varnish binds to
varnish         = localhost
# The hosts that are allowed to issue PURGE reuqests to Varnish
allow-purge     = localhost
# The IP address that Varnish proxies to (do not use a hostname)
varnish-backend = 127.0.0.1
# The hostname that HAProxy binds to
haproxy         = localhost
# Where to find the syslog deamon to log to
syslog          = localhost
# The hostname that memcached binds to
memcached       = localhost
# The hostname that supervisord binds to
supervisor      = localhost
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = sechszueins.vorwaerts-werbung.de
zope1           = katharinahoelzl.com
zope2           = kipungani-trust.info
zope2-1         = kipungani-trust.de
zope3           = zimtec.info
zope4           = retold.de
zope5           = systemkosmetik-hautnah.de
zope5-1         = systemkosmetikhautnah.de
zope6           = eser-schuberth.de
zope7           = kaiser.coraggio.de
zope8           = agita.coraggio.de
zope8-1         = xn-tagesmtter-bbc.de
zope9           = klikev.coraggio.de
# The static sites hosted in /opt/www/ and deloyed via Nginx
static1         = friseur-valentino.de
static2         = gastrogruppe-schwaben.de
static3         = glasperlen-kreativlabor.de
static4         = salon-bergmann.de
static5         = leimer-projektbau.com
static6         = plakatwerbung-maerzke.de
static6-1       = plakatwerbung-augsburg.de
static7         = konze-laur.de
static7-1       = konze-lauer.de
static8         = werk86.de
static9         = rga.coraggio.de
static10        = daz.coraggio.de
static11        = responsive.coraggio.de
static12        = carpet-crew.de
static12-1      = carpet-crew.com

# Port corresponding to the hostnames above. Note that to bind to ports
# < 1024, you will need to run ./bin/supervisord as root!
[ports]
http            = 80
https           = 443
nginx-backend   = ${:varnish}
varnish         = 8100
varnish-backend = ${:haproxy}
haproxy         = 8200
haproxy-stats   = 8222
instance-debug  = 8499
syslog          = 514
memcached       = 11211
database        = 3306
supervisor      = 9001
zope1           = 8401
zope2           = 8402
zope3           = 8403
zope4           = 8404
zope5           = 8405
zope6           = 8406
zope7           = 8407
zope8           = 8408
zope9           = 8409

[users]
# Process owners for nginx, varnish, haproxy, memcached and Zope
nginx            = www
varnish          = www
haproxy          = www
zope-process     = www
memcached        = www

# System user accounts for Zope root admin, database access and Supervisor
zope-admin       = zope-admin
database         = zope
supervisor-admin = supervisor-admin

# Passwords for the accounts above
[passwords]
zope-admin       = walootw11
database         = secret
supervisor-admin = %(X"s7pU"5V

# Database instances for SQLAlchemy and RelStorage
[databases]
optilux = optilux
zodb    = zodb

[locations]
templates = ${buildout:directory}/vhosts
config = ${buildout:directory}/etc/vhosts

# How should varnish store its cache? Increase thesize, in megabytes, as required
[varnish-options]
storage = malloc,1024M
tuning = -p thread_pools=4

[limits]
# How many open files are allowed? This affects the number of concurrent
# connections. On some operating systems, this is set on startup per user
# as the ulimit
open-files = 8000
# Timeout of inactivity for Beaker sessions
session-timeout = 600

[urls]
# This URL is used in the nginx configuration to serve an error page when
# HAProxy detects no viable backend
fallback = /system-error

[sites]
# Plone site ids - used in virtual hosting
main    = localhost
zope1   = kh
zope2   = kipungani
zope3   = zimtec
zope4   = retold
zope5   = hautnah
zope6   = ces
zope7   = kaiser
zope8   = agita
zope9   = klikev
# Static site names - used in virtual hosting
static1         = valentino
static2         = gastrogruppe
static3         = glasperlen
static4         = bergmann
static5         = leimer
static6         = maerzke
static7         = konze
static8         = werk86
static9         = rga
static10        = daz
static11        = rwd
static12        = carpetcrew

# Install supervisor, which runs on port 9001
# Run: ``bin/supervisord``
# Run: ``bin/supervisorctl --help``
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${users:supervisor-admin}
password = ${passwords:supervisor-admin}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =
    
    10 nginx                     ${nginx-build:location}/sbin/nginx true 
    20 varnish                   ${varnish-build:location}/sbin/varnishd [-F -s ${varnish-options:storage} -f ${buildout:directory}/etc/varnish.vcl -a :${ports:varnish} ${varnish-options:tuning}] true ${users:varnish}
    30 haproxy                   ${buildout:directory}/bin/haproxy       [-f ${buildout:directory}/etc/haproxy.conf] true ${users:haproxy}
    40 instance-${sites:zope1}   ${zope-locations:zope1}/bin/instance [console] true ${users:zope-process}
    40 instance-${sites:zope2}   ${zope-locations:zope2}/bin/instance [console] true ${users:zope-process}
    40 instance-${sites:zope3}   ${zope-locations:zope3}/bin/instance [console] true ${users:zope-process}
    40 instance-${sites:zope4}   ${zope-locations:zope4}/bin/instance [console] true ${users:zope-process}
    50 instance-${sites:zope5}   ${zope-locations:zope5}/bin/instance [console] true ${users:zope-process}
    50 instance-${sites:zope6}   ${zope-locations:zope6}/bin/instance [console] true ${users:zope-process}
    50 instance-${sites:zope7}   ${zope-locations:zope7}/bin/instance [console] true ${users:zope-process}
    50 instance-${sites:zope8}   ${zope-locations:zope8}/bin/instance [console] true ${users:zope-process}
    60 instance-${sites:zope9}   ${zope-locations:zope9}/bin/instance [console] true ${users:zope-process}


